# Virtual environment
ds_env/

# Raw data (too large for GitHub)
data/raw/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.dbdebug.log 
*.log 
*.log 
